# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: Release

on:
  workflow_dispatch:
    inputs:
      do_release:
        description: "Do you want to trigger the release?"
        required: true
        default: "no"
        type: choice
        options:
          - "yes"
          - "no"

jobs:
  release:
    name: Run semantic-release
    if: ${{ github.ref == 'refs/heads/main' && github.event.inputs.do_release == 'yes' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: "true"
      - name: Create temporary release.config.js
        run: |
          cat > release.config.js << 'EOF'
          module.exports = {
            plugins: [
              [
                '@semantic-release/commit-analyzer',
                {
                  releaseRules: [
                    { type: 'build', release: 'patch' },
                    { type: 'chore', release: 'patch' },
                    { type: 'ci', release: 'patch' },
                    { type: 'docs', release: 'patch' },
                    { type: 'perf', release: 'patch' },
                    { type: 'refactor', release: 'patch' },
                    { type: 'revert', release: 'patch' },
                    { type: 'style', release: 'patch' },
                    { type: 'test', release: 'patch' },
                  ]
                }
              ],
              [
                '@semantic-release/release-notes-generator',
                {
                  preset: 'conventionalcommits',
                  presetConfig: {
                    types: [
                      { type: 'feat', section: 'Features', hidden: false },
                      { type: 'fix', section: 'Bug Fixes', hidden: false },
                      { type: 'build', section: 'Build System', hidden: false },
                      { type: 'chore', section: 'Chores', hidden: false },
                      { type: 'ci', section: 'Continuous Integration', hidden: false },
                      { type: 'docs', section: 'Documentation', hidden: false },
                      { type: 'perf', section: 'Performance Improvements', hidden: false },
                      { type: 'refactor', section: 'Code Refactoring', hidden: false },
                      { type: 'revert', section: 'Reverts', hidden: false },
                      { type: 'style', section: 'Styles', hidden: false },
                      { type: 'test', section: 'Tests', hidden: false },
                    ]
                  }
                }
              ],
              [
                '@semantic-release/exec',
                {
                  prepareCmd: "awk -i inplace '{ gsub(/^version:.*/, \"version: ${nextRelease.version}\") }; { print }' Chart.yaml"
                }
              ],
              [
                '@semantic-release/git',
                {
                  assets: ['Chart.yaml'],
                  message: 'chore(release): ${nextRelease.version}\n\n${nextRelease.notes}'
                }
              ],
              '@semantic-release/github'
            ]
          };
          EOF
      - name: Semantic Release
        id: semantic-release
        uses: cycjimmy/semantic-release-action@v5
        with:
          branches: |
            ['main']
          tag_format: "${version}"
          extra_plugins: |
            @semantic-release/exec
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
